<div class="page-header-nav">

    <nav class="nav">
        <div class="nav-list">
            <div class="nav-list-el">
                <a class="a" title="" href="#"><span class="category">KATEGORIE</span></a>
                <div class="wrapper">
                        <div class="category-more ">
                                <div class="category-more-box">
                                    <div class="option"><div class="text"><span>Biustonosze</div></span></div>
                                    <div class="option-more"></div>
                                </div>
                                <div class="category-more-box">
                                    <div class="option"><div class="text"><span>Pończochy</div></span></div>
                                    <div class="option-more closed"></div>
                                </div>
                                <div class="category-more-box">
                                    <div class="option"><div class="text"><span>Figi</div></span></div>
                                    <div class="option-more closed"></div>
                                </div>
                                <div class="category-more-box">
                                    <div class="option"><div class="text"><span>Gorsety</div></span></div>
                                    <div class="option-more closed"></div>
                                </div>
                                <div class="category-more-box">
                                    <div class="option"><div class="text"><span>Pidżamy</div></span></div>
                                    <div class="option-more closed"></div>
                                </div>
                </div> 
                </div>
            </div>
            <div class="nav-list-el">
                <a class="a" title="" href="#"><span class="category">NOWOŚCI</span></a>
            </div>
            <div class="nav-list-el">
                <a class="a" title="" href="#"><span class="category">PROMOCJE</span></a>
            </div>
            <div class="nav-list-el">
                <a class="a pink" title="" href="#"><span class="category">WYPRZEDAŻE</span></a>
            </div>
            <div class="nav-list-el">
                <a class="a" title="" href="#"><span class="category">KOLEKCJE SEZONY</span></a>
            </div>
            <div class="nav-list-el">
                <a class="a" title="" href="#"><span class="category">NASZA OFERTA</span></a>
            </div>
            <div class="nav-list-el">
                <a class="a" title="" href="#"><span class="category">TRENDY 2018</span></a>
            </div>
            <div class="nav-list-el">
                <a class="a" title="" href="#"><span class="category">BLOG</span></a>
            </div>
            <div class="nav-list-el">
                <a class="a" title="" href="#"><span class="category">KONTAKT</span></a>
            </div>
        </div>
    </nav>
</div>