<div class="page-header-nav">

    <nav id="nav" class="nav closed-mobile">
        <div class="nav-list">
            <div class="nav-list-el">
                <a class="a" title="" href="#"><span class="category">KATEGORIE</span><div class="arrow"></div></a>
                <div class="wrapper closed-mobile closed">
                    <div class="category-more ">
                        <div class="category-more-box">
                            <div class="option">
                                <div class="text"><span>Biustonosze</span></div>
                                <div class="wrapper-sub-option">

                                    <div class="sub-op ">
                                        <div class="sub-op-box">
                                            <div class="product-type">
                                                <div class="sub-text"><span>Usztywniane</span></div>
                                            </div>
                                        </div>
                                        <div class="sub-op-box">
                                            <div class="product-type">
                                                <div class="sub-text"><span>Sportowe</span></div>
                                            </div>
                                        </div>
                                        <div class="sub-op-box">
                                            <div class="product-type">
                                                <div class="sub-text"><span>Bez fiszbin</span></div>
                                            </div>
                                        </div>
                                        <div class="sub-op-box">
                                            <div class="product-type">
                                                <div class="sub-text"><span>Koronkowe</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-more-box">
                            <div class="option">
                                <div class="text"><span>Figi</span></div>
                                <div class="wrapper-sub-option">

                                    <div class="sub-op ">
                                        <div class="sub-op-box">
                                            <div class="product-type">
                                                <div class="sub-text"><span>Koronkowe</span></div>
                                            </div>
                                        </div>
                                        <div class="sub-op-box">
                                            <div class="product-type">
                                                <div class="sub-text"><span>Sportowe</span></div>
                                            </div>
                                        </div>
                                        <div class="sub-op-box">
                                            <div class="product-type">
                                                <div class="sub-text"><span>Stringi</span></div>
                                            </div>
                                        </div>
                                        <div class="sub-op-box">
                                            <div class="product-type">
                                                <div class="sub-text"><span>Szorty</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-more-box">
                            <div class="option">
                                <div class="text"><span>Pończochy</span></div>
                                <div class="wrapper-sub-option">

                                    <div class="sub-op ">
                                        <div class="sub-op-box">
                                            <div class="product-type">
                                                <div class="sub-text"><span>Nylonowe</span></div>
                                            </div>
                                        </div>
                                        <div class="sub-op-box">
                                            <div class="product-type">
                                                <div class="sub-text"><span>Koronkowe</span></div>
                                            </div>
                                        </div>
                                        <div class="sub-op-box">
                                            <div class="product-type">
                                                <div class="sub-text"><span>Z silikonem</span></div>
                                            </div>
                                        </div>
                                        <div class="sub-op-box">
                                            <div class="product-type">
                                                <div class="sub-text"><span>Pasy do pończoch</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-more-box">
                            <div class="option">
                                <div class="text"><span>Gorsety</span></div>
                                <div class="wrapper-sub-option">

                                    <div class="sub-op ">
                                        <div class="sub-op-box">
                                            <div class="product-type">
                                                <div class="sub-text"><span>Z miseczkami</span></div>
                                            </div>
                                        </div>
                                        <div class="sub-op-box">
                                            <div class="product-type">
                                                <div class="sub-text"><span>Bez miseczek</span></div>
                                            </div>
                                        </div>
                                        <div class="sub-op-box">
                                            <div class="product-type">
                                                <div class="sub-text"><span>Lateks</span></div>
                                            </div>
                                        </div>
                                        <div class="sub-op-box">
                                            <div class="product-type">
                                                <div class="sub-text"><span>Koronkowe</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-more-box">
                            <div class="option">
                                <div class="text"><span>Pidżamy</span></div>
                                <div class="wrapper-sub-option">

                                    <div class="sub-op ">
                                        <div class="sub-op-box">
                                            <div class="product-type">
                                                <div class="sub-text"><span>Kiguru</span></div>
                                            </div>
                                        </div>
                                        <div class="sub-op-box">
                                            <div class="product-type">
                                                <div class="sub-text"><span>Pajace</span></div>
                                            </div>
                                        </div>
                                        <div class="sub-op-box">
                                            <div class="product-type">
                                                <div class="sub-text"><span>Dwuczęściowe</span></div>
                                            </div>
                                        </div>
                                        <div class="sub-op-box">
                                            <div class="product-type">
                                                <div class="sub-text"><span>Body</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="nav-list-el">
                <a class="a" title="" href="#"><span class="category">NOWOŚCI</span><div class="arrow"></div></a>
            </div>
            <div class="nav-list-el">
                <a class="a" title="" href="#"><span class="category">PROMOCJE</span><div class="arrow"></div></a>
            </div>
            <div class="nav-list-el">
                <a class="a pink" title="" href="#"><span class="category">WYPRZEDAŻE</span><div class="arrow"></div></a>
            </div>
            <div class="nav-list-el">
                <a class="a" title="" href="#"><span class="category">KOLEKCJE SEZONY</span><div class="arrow"></div></a>
            </div>
            <div class="nav-list-el">
                <a class="a" title="" href="#"><span class="category">NASZA OFERTA</span><div class="arrow"></div></a>
            </div>
            <div class="nav-list-el">
                <a class="a" title="" href="#"><span class="category">TRENDY 2018</span><div class="arrow"></div></a>
            </div>
            <div class="nav-list-el">
                <a class="a" title="" href="#"><span class="category">BLOG</span><div class="arrow"></div></a>
            </div>
            <div class="nav-list-el">
                <a class="a" title="" href="#"><span class="category">KONTAKT</span><div class="arrow"></div></a>
            </div>
        </div>
    </nav>
</div>