<nav class="nav">
        <ul class=nav-list>
            <li class="nav-list-li">
                <a class="a" title="" href="#"><span></span></a>
            </li>
            <li class="nav-list-li">
                <a class="a" title="" href="#"><span></span></a>
            </li>
            <li class="nav-list-li">
                <a class="a" title="" href="#"><span></span></a>
            </li>
            <li class="nav-list-li">
                <a class="a" title="" href="#"><span></span></a>
            </li>
            <li class="nav-list-li">
                <a class="a" title="" href="#"><span></span></a>
            </li>
            <li class="nav-list-li">
                <a class="a" title="" href="#"><span></span></a>
            </li>
            <li class="nav-list-li">
                <a class="a" title="" href="#"><span></span></a>
            </li>
            <li class="nav-list-li">
                <a class="a" title="" href="#"><span></span></a>
            </li>
            <li class="nav-list-li">
                <a class="a" title="" href="#"><span></span></a>
            </li>

        </ul>
    </nav>