<div class="topbar">
    <div class="topbar-inner">
        <div class="contact">
            <div class="contact-el"><div class="contact-el-img"><img  src="/images/phone-call.png" width="16px" height="15px"></div>
                
                <div class="contact-el-text t1">
                    <div>293 939 098</div>
                </div>
            </div>
            <div class="contact-el"><div class="contact-el-img">
                <img  src="/images/mail.png" width="16px" height="16px"></div>
                <div class="contact-el-text">
                    <div>kontakt@aurorabox.pl</div>
                </div>
            </div>
        </div>


        <div class="signin">
            <div class="signin-option">
                <div class="signin-option-img"><img class="signin-option-img-img" src="/images/locked.png" width="16px" height="15px" /></div>
                <div class="signin-option-text"><span>Zaloguj się</span></div>
            </div>
            <div class="signin-option">
                <div class="signin-option-img"><img
                    class="signin-option-img-img" src="/images/add-user.png" width="16px" height="16px" /></div>
                <div class="signin-option-text"><span>Załóż konto</span></div>
            </div>
        </div>
    </div>
</div>