$pink: #ed2b6a;
$light-pink: #ecc7cf;
$border-color: #d7d7d7;

$min-font: 12px;

%page-width{
    width: 62%;
    max-width:1240px;
}
%margin-topbar{
    margin-top: auto;
     margin-bottom: auto;
}
%margin-center{
    margin-left: auto;
        margin-right: auto;
}